
<div id="skullWall">
<div id="skullDisplayContainer">
	{{# skulls}}
		<div class="parentSkull">
				<li class="slug">{{slug}}</li>
				<div class="kudos">{{candles}}</div>
				<div class="skullImage"><img src="{{skull}}" width="175"></div>
				<div class="skullName"><h2>{{name}}</h2></div>
				

		</div>
	{{/ skulls}}
</div>
</div>

<script>
$(document).ready(function (){


		// $(".skullImage").click(function(){
		// 	console.log("clicked");
		// });
		// $("#skullWall").mousemove(function(e){
		// 	$("#skullWall").css('background-position',(e.pageX - 250)+'px '+(e.pageY - 250)+'px');
		// });

        // add hover event handler
        $('.skullImage').hover(function (){
                // find the triggering box parent, and it's tooltip child
                $(this).parent().children('.skullName').animate(
                    {
                        opacity: "toggle",      // toggle opacity
                    }
                );
            });
        $('.skullImage').click(function(){
        	var className = $(this).parent().children('.slug').text();
        	console.log(className);
        });
   	});
</script>