
<!-- 
    
    Hi! 

    Thanks for checking out the source 
    these pages are mostly pretty simple
    if you're interested in code, check out 
    the github.

    https://github.com/jayzehngebot/skullWallWithSave

         _,.-------.,_
     ,;~'             '~;, 
   ,;                     ;,
  ;                         ;
 ,'                         ',
,;                           ;,
; ;      .           .      ; ;
| ;   ______       ______   ; | 
|  `/~"     ~" . "~     "~\'  |
|  ~  ,-~~~^~, | ,~^~~~-,  ~  |
 |   |        }:{        |   | 
 |   l       / | \       !   |
 .~  (__,.--" .^. "--.,__)  ~. 
 |     ---;' / | \ `;---     |  
  \__.       \/^\/       .__/  
   V| \                 / |V  
    | |T~\___!___!___/~T| |  
    | |`IIII_I_I_I_IIII'| |  
    |  \,III I I I III,/  |  
     \   `~~~~~~~~~~'    /
       \   .       .   /
         \.    ^    ./   
           ^~~~^~~~^ 
  -->

<center>

      {{#currentUser}}
        <h2>Skull Klub Members, <a href="/irlskull">Post Skull Spottings</a></h2>
      {{/currentUser}}
      <br>

    	{{#photos}}
      <div class="photoBloc">
    		<img src="https://s3.amazonaws.com/skullsIRL/{{image}}" width="300" title="{{title}}">
      </div>
    	{{/photos}}

	<hr>

<p><iframe width="640" height="480" src="http://www.youtube.com/embed/eShQsiVPIcA" frameborder="0" allowfullscreen></iframe></p>

<hr>
<br>
^ Documentation of 3-D Visualization Conducted by the Friends of Capt. Karl Ward and the Research Wing of the Office of Creative Development (OCD) ^
<br>
<hr>

Feeling ultra-inspired? SkullWall has spawned a JSON API.<br>
<a href="/data"> view raw JSON data</a><br> - or -<br>
<a href="/api"> view sparse example API usage</a><br>
	
  <hr>


<br>
<p>are you curious about SKULLWALL?<br>
My name is Jay. I built SKULLWALL because I love drawing, printing, computers + the web.<br>
If you're psyched - <a href="mailto:JZ@thenewsentry.net?Subject=SKULLWALL">Email Me</a> - JZ@thenewsentry.net
</p>
<p><a href="http://www.irlexp.com">Alternatively, visit my plog, IRLEXP</a>.</p>
<br>

</center>