<html>
<head>
	<title>Skullwall API</title>

	<style type="text/css">
	img{
		background-color: black;
	}
	div{
		width: 900px;
	}
	.rawData{
		display: absolute;
		width: 500px;
		word-wrap: break-word;
		height: 250px;
		overflow: auto;
	}

	</style>
</head>

<div>
	{{# skulls}}
		<p>
			<span><img src="{{skull}}" width="600" height="600"></span><br>
			<div class="rawData">dataURL: {{skull}}</div><br>
			<span>skullName: {{name}}</span><br>
			<span>candles: {{candles}}</span><br>
		</p>
		<hr>
	{{/ skulls}}
</div>
</html>
