html {
	font-family: 'VT323', cursive;
}

body {
	position: absolute;
	height: 100%;
	width: 10000px;
	bottom: 0;
	padding: 0px;
	margin: 0;
	background: dimgrey;
	color: #B3B3B3;
	background-image: url(../images/bgTile02.png);
}

a {
  color: #00B7FF;
}

h1 {
	text-align: right;
	opacity:.3; 
	font-size: 90px;
	font-weight: 10px;
   -webkit-text-stroke-width: .25px;
   -webkit-text-stroke-color: #FFFFF0;
}

a:link{
	font-size: 30px;
}

.smallLink {
	text-size: 10px;
}

li{
	display: inline-block;
}

ul{
	text-decoration: none;
	text-indent: -30;
	margin: 0;
	padding: 0;
}
#skulls{
	position: relative;
	/**/
	overflow: auto;
	left:0;
	bottom: 0;
	width: 10000px;
	height: 900px;
}
.column{
	width: 1900px;
	left:0;
	text-indent: -30;
	bottom: 0;
	margin: 0;
}