
		<h1>Register for Skull Klub</h1>
		<p>
			KLUBBERS Get a pentagram of BENEFITS
			<ul>
				<li>1. Possiblity to win a ScreenPrint</li><br>
				<li>2. Definite Discounts on ScreenPrints</li><br>
				<li>3. Infinite Candles (for paying respect)</li><br>
				<li>4. Ability to Upload Inspiration</li><br>
				<li>5. Cred for Skulls Contributed</li><br>
			</ul>
		</p>
		<form method="POST">
			<div class="">
				<label for="username">Username</label>
				<input type="text" name="username" id="username">
			</div>

			<div class="">
				<label for="email">email &nbsp;&nbsp;</label>
				<input type="text" name="email" id="email">
			</div>

			<div class="">
				<label for="password">Password </label>
				<input type="password" name="password" id="password">
			</div>

			<div class="">
				<label for="confirm">Again!&nbsp;&nbsp;</label>
				<input type="password" name="confirm" id="confirm">
			</div>
<br>
			<div class="field">
				<input type="submit" class="btn btn-primary" value="Register">
			</div>
		</form>


	<h4>My name is Jay and I will never sell or share your info / email address. <br> All passwords are mightily encrypted with hash and salted keys. <br>
		In other words, I can't see them or hack your d-life.</h4>